@import url("https://cdn.web-fonts.ge/fonts/bpg-le-studio-02-caps/css/bpg-le-studio-02-caps.min.css");

@font-face {
  font-family: "KA_LORTKIPANIDZE";
  src: url("../fonts/ka-lortkipanidze-webfont.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ka-lortkipanidze-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ka-lortkipanidze-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/ka-lortkipanidze-webfont.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/ka-lortkipanidze-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ka-lortkipanidze-webfont.svg#ka_lortkipanidzeregular")
      format("svg"); /* Legacy iOS */
}

header {
  max-width: 1495px;
  min-height: 91px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 22px;
  background-color: #0a22f4;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 36px;
}
.header-nav-li {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  font-family: "BPG LE Studio 02 Caps", sans-serif;
}
button {
  width: 160px;
  height: 55px;
  margin-left: 36px;
}
section {
  max-width: 1495px;
  margin: 0 auto;
  margin-top: 200px;
  font-family: "KA_LORTKIPANIDZE";
}
h2 {
  font-size: 32px;
  color: #171717;
  text-align: left;
}
.bullets {
  width: 10px;
  height: 10px;
  background-color: #0a22f4;
  border-radius: 50%;
  opacity: 0.3;
  display: inline-block;
  margin-left: 20px;
}
.main-bullet {
  opacity: 1;
}
.square {
  width: 70px;
  height: 70px;
  background-color: #f9f9f9;
  display: inline-block;
}
.main-square {
  background-color: #0a22f4;
}
article {
  max-width: 463px;
  min-height: 235px;
  margin-right: 15px;
  display: inline-block;
}
h3 {
  font-size: 22px;
  color: #171717;
  text-align: left;
}
p {
  font-size: 16px;
  color: #171717;
  text-align: left;
}
